html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #0d0f16;
    font-family: Consolas, "Courier New", monospace;
    color: #eaeaea;
}

nav#menu {
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    box-sizing: border-box;

    background-color: #0d0f16;

    font-family: PublicSans, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

nav#menu ul {
    display: flex;
    align-items: center;
    gap: 10px;

    list-style: none;
    margin: 0;
    padding: 0;

    overflow-x: auto;
    overflow-y: hidden;
}

nav#menu ul li a,
nav#menu button a {
    all: unset;

    display: flex;
    align-items: center;
    gap: 5px;

    padding: 5px 10px;
    border-radius: 10px;

    cursor: pointer;
    text-decoration: none;

    color: #eaeaea;
    font-weight: bold;
}

div#content {
    width: 100vw;
    height: calc(100vh - 50px);

    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #eaeaea;
    overflow: auto;

}

div#box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    min-width: 30vw;
    max-width: 500px;
    height: 70vh;
    border: 0.01vw solid #eaeaea;
    border-radius: 0.9vw;
    padding: 0.9vw;
    overflow: auto;
}

input {
    width: calc(100% - 0.8vw);
    height: 5vh;
    margin: 0.2vw;
    background-color: #0d0f16;
    color: #eaeaea;
    border: 0.01vw solid #eaeaea;
    border-radius: 0.9vw;
    text-align: center;
}

button {
    width: calc(100% - 0.8vw);
    height: 5vh;
    margin: 0.2vw;
    padding: 0.2vw;
    background-color: #0d0f16;
    color: #eaeaea;
    border: 0.01vw solid #eaeaea;
    border-radius: 0.9vw;
    text-align: center;
    cursor: pointer;
}

div#box div {
    width: 100%;
}

h2#aling-center {
    width: 100%;
    text-align: center;
}

h2 {
    font-size: 4vh;
}

p {
    font-size: 2vh;
}
